.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
pubspec.lock
*.log
devtools_options.yaml
.DS_Store
**/.DS_Store

android/.gradle/
android/app/build/
android/local.properties

backend/data/

.idea/
*.iml
